/** Goodluck **/
body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    flex-basis: 100%;
    background-color: #284670
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.footer {
    display: flex;
    margin-top: auto;
    
    background-color: #284670
}

.info {
    display: flex;
    flex-basis: 54rem;
}

ul {
    display: flex;
    gap: 7px;
    list-style: none;
    
}


/** Link + LI Deco **/
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo {
    height: 75px;
    width: 75px;
}